@media(max-width: 1099px) {
    
    @keyframes slide-in-left {
        0% {
            transform: translate(-100%, 1000%);
        }
        100% {
            transform: translate(0%);
        }
    }
    
    @keyframes slide-in-top {
        0% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0%);
        }
    }
    
    @keyframes slide-in-bottom {
        0% {
            transform: translateY(-100%) rotateX(180deg);
        }
        100% {
            transform: translateY(0%) rotateX(360deg);
        }
    }
}



@media(min-width: 1100px) {
    
    @keyframes slide-in-left {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0%);
        }
    }

    @keyframes slide-in-right {
        0% {
            transform: translateX(100%) rotateY(18deg);
        }
        100% {
            transform: translateX(0%) rotateY(360deg);
        }
    }
}